[submodule "submodules/zfsonlinux"]
	path = submodules/zfsonlinux
	url = ../zfsonlinux
[submodule "submodules/debian-kernel"]
	path = submodules/debian-kernel
	url = https://salsa.debian.org/kernel-team/linux.git
